# Byte-compiled / optimized / DLL files
__pycache__/

# Data folder containing nuScenes data
data/

# Detection generated folders
Detection/checkpoint/
Detection/data/
Detection/CRN.egg-info/
Detection/build/
Detection/outputs/
Detection/detection_output/

Detection/pretty_printed_results_nusc.txt
Detection/*.json

# Tracking generated folders
Tracking/data
Tracking/Xinshuo_PyToolbox
Tracking/AB3DMOT_libs
Tracking/configs
Tracking/docs
Tracking/external
Tracking/scripts
Tracking/output/*bckp
Tracking/output/*/plots
Tracking/output/*/metrics_details.json
Tracking/output/*/track_results_nusc.json

Tracking/*.gif
Tracking/*.json
Tracking/results
Tracking/radiant_visualizer.py
Tracking/visualizer.py
Tracking/main.py
Tracking/track_results_pretty_print.txt
