# Byte-compiled / optimized / DLL files
*__pycache__


# Data folder containing nuScenes data
*data*

# Detection generated folders
Detection/checkpoint/
Detection/CRN.egg-info/
Detection/build/
Detection/outputs/
Detection/detection_output*
Detection/*.txt

# Tracking generated folders
Tracking/Xinshuo_PyToolbox
Tracking/LICENSE
Tracking/output/track_output_CRN/

Tracking/*.json
Tracking/results*

*bckp*
*plots
*.bin
*.json
git_bash.sh
